/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0e7c40; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para el contenedor principal */
  .container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff; /* Color de fondo del contenedor */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para los elementos de entrada y botón */
  input[type="text"],
  input[type="number"],
  button {
    margin: 20px 0px;
    padding: 15px 0px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón */
  button {
    background-color: #077a3b;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #095221;
  }
  
  /* Estilo para la lista de gastos */
  #listaGastos {
    list-style: none;
    padding: 0;
  }
  
  #listaGastos li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #listaGastos li:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilo para el total de gastos */
  #totalGastos {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #074722;
  }
  
  /* Estilo para los encabezados */
  h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #074722;
  }